body {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(./bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.boxbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40rem;
}

.describe {
    box-shadow: 3px 3px 5px 3px #dadce0;
    border-radius: 0.5rem;
    margin: 5rem;
    padding: 0.3rem 0.5rem;
    width: 80rem;
    height: 50rem;
    position: absolute;
    display: flex;
    font-size: 1.3rem;
    background-color: white;
    backdrop-filter: blur(10px);
}

.nexttext {
    opacity: 0;
    position: absolute;
    display: flex;
}

.q1object {
    display: flex;
    position: absolute;
    margin-left: 54rem;
    margin-top: 67rem;
    width: 14rem;
}

.q2object {
    display: flex;
    position: absolute;
    margin-left: 50rem;
    margin-top: 40rem;
    width: 20rem;
}

.q3object {
    display: flex;
    position: absolute;
    margin-left: 88rem;
    margin-top: 64rem;
    width: 25rem;
}
.q4object {
    display: flex;
    position: absolute;
    margin-left: 79rem;
    margin-top: 44rem;
    width: 10rem;
}
.reset {
    float: right;
    margin-top: 53%;
}
